[project]
	description = Temple Galaxia - Burning Man 2018
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gerald Spencer (Geethree)
[access "refs/for/refs/*"]
	read = group user/Gerald Spencer (Geethree)
	push = group user/Gerald Spencer (Geethree)
	label-Code-Review = -2..+2 group user/Gerald Spencer (Geethree)
	label-Verified = -1..+1 group user/Gerald Spencer (Geethree)
	rebase = group user/Gerald Spencer (Geethree)
	removeReviewer = group user/Gerald Spencer (Geethree)
	submit = group user/Gerald Spencer (Geethree)
[access "refs/heads/*"]
	read = group user/Gerald Spencer (Geethree)
	create = group user/Gerald Spencer (Geethree)
	push = +force group user/Gerald Spencer (Geethree)
	pushMerge = group user/Gerald Spencer (Geethree)
[access "refs/tags/*"]
	push = group user/Gerald Spencer (Geethree)
	push = +force group user/Gerald Spencer (Geethree)
